
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: auto;
  margin:  auto;
  border-bottom: 1px solid #2D4263;
  background-color: black;
}
.navbar h1 {
  color: #C84B31;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:#C84B31
}
.navbar a:hover {
  color: white;
}

#logout-button {
  transition-duration: 0.4s;
  background-color:grey;
}

#logout-button:hover {
  background-color: #C84B31;
  color: black;
}

.login {
  height: 100px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    text-align: center;
}



.login-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('https://wallpaperaccess.com/full/435928.jpg');
  
}

.background-div{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpaperaccess.com/full/435928.jpg');
}

input{
  width: 95%;
}

.search-wrapper {
  float:left;
  width:211px;
  
}

.vertical-menu {
  width: 200px; 
  height: auto;
  overflow-y: auto;/* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #C84B31; /* Add a green color to the "active/current" link */
  color: white;
}